<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="login">
            <form method="POST" action="{% url 'social:login' %}">
                {% csrf_token %}
                <input
                    type="text"
                    placeholder="Enter Username"
                    name="username"
                    required
                />
                <input
                    type="text"
                    placeholder="Enter Password"
                    name="password"
                    required
                />
                <button>login</button>
            </form>
        </div>
        <form action="{% url 'social:register' %}">
            <button type="submit">Create a new account</button>
        </form>
    </body>
</html>
